.header-wrapper {
  background: #242424;
  color: #cccccc;
  .common {
    height: 69px;
    line-height: 70px;
  }
  .logo {
    float: right;
    padding-right: 20px;
    padding-bottom: 3px;
    width: 176px;
    background-position: 0 0;
    background: url('../../../common/images/topbar.png') no-repeat;
  }
  .menus {
    display: inline-block;
    li {
      float: left;
      padding: 0 19px;
      .cor {
        display: block;
        position: absolute;
        left: 10%;
        top: 64px;
        width: 12px;
        height: 7px;
        margin-left: -6px;
        overflow: hidden;
        background-position: -226px 0;
        background: url('../../../common/images/topbar.png') no-repeat;
      }
    }
    .menu-active {
      background: #000000;
    }
  }
  .search-box {
    float: left;
    margin-left: 10px;
  }
  .user {
    float: left;
    margin-left: 15px;
  }
  .submenus {
    height: 34px;
    line-height: 35px;
    padding-left: 390px;
    background: #C20C0C;
    ul {
      li {
        float: left;
        height: 34px;
        text-align: center;
      }
      .sub-common {
        display: inline-block;
        font-size: 12px!important;
        height: 20px;
        padding: 0 13px;
        margin: 7px 17px 0;
        border-radius: 20px;
        line-height: 21px;
        color: #fff;
        text-decoration: none;
      }
      .sub-active {
        background: #9B0909;
      }
    }
  }
}